.copy-button {
    position: absolute;
    right: 10px;
    top: 10px;
    background: transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
.copy-button:hover {
    opacity: 1;
}

.copy-button .tooltip {
    visibility: hidden;
    position: absolute;
    bottom: 15%;
    left: -100%;
    transform: translateX(-50%);
    background-color: #00000091;
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.copy-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}