@import url("theme.css");  /* This works magically, imported the defaults from sphinx_rtd_theme */

.wy-nav-side {
    display: flex;            /*this line is responsible for ugly printing*/
    flex-flow: column;
    height: 100%;
}

.wy-side-scroll {
    flex: 1 1 auto;
}

#cookie-banner-mask {
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(33, 41, 52, 0.75);
}

#cookies-eu-banner {
    z-index: 1000;
    position: absolute;

    top: 50%;
    left: 0;
    height: 50vh;
    width: calc(100vw - 16px);

    background: #fff;
    border: 8px solid #f9b719;
    padding: 2rem;

    display: flex;  /* Set in code */
    justify-content: center;
    align-items: center;
}

.cookie-button {
    border: 0;
    font-weight: 600;
    color: #fff;
    padding: 1rem 2rem;
}

#cookies-eu-accept {
    background-color: #f9b719;
}

#cookies-banner-content {
    text-align: center;
}

.red {
    color: red;
} 

/* override table no-wrap */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

